{% extends "layouts/module_admin.html" %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="GpsTracker">{{ _('GpsTracker')}}</a></li>
{% endblock %}
{% block module %}

<script src="{{ config.ASSETS_ROOT }}/plugins/vue/vue@2.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/vue/axios.min.js"></script>
<link rel="stylesheet" href="//unpkg.com/leaflet/dist/leaflet.css" />
<script src="//unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="//unpkg.com/vue2-leaflet"></script>
            

  <style>
  #gps_tracker {
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
  }
  .nav-tabs {
    flex-shrink: 0;
  }
  .tab-content {
    flex: 1;
    min-height: 0;
    position: relative;
  }
  .tab-pane {
    height: 100%;
    width: 100%;
    overflow-y: auto; /* Добавляем прокрутку если контент не помещается */
  }
  #tab_map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .map-container {
    height: 100%;
  }
  .leaflet-container {
    height: 100%;
  }
    /* Фикс для видимости других вкладок */
  #devices, #locations, #positions {
    position: static;
    z-index: 1;
  }
  /* Стили маркера */
.custom-marker {
  background: none !important;
  border: none !important;
}

.avatar-marker {
  position: relative;
  width: 48px;
  height: 56px; 
}

.marker-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.default-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}


/* Стили подсказки */
.marker-tooltip {
  display: flex;
  align-items: center;
  padding: 8px;
}

.tooltip-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.tooltip-content {
  line-height: 1.3;
}

.tooltip-content h5 {
  margin: 0 0 4px 0;
  font-size: 14px;
}

.tooltip-content small {
  color: #666;
  font-size: 12px;
}
  </style>

<div id="gps_tracker">

    <div v-if="message" class="alert alert-warning mt-3">
        <p>[[ message ]]</p>
    </div>

    <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
        <li class="nav-item"><a class="nav-link tab-button active" href="#devices" data-bs-toggle="tab" role="tab">{{ _('Devices')}}</a></li>
        <li class="nav-item"><a class="nav-link tab-button" href="#locations" data-bs-toggle="tab" role="tab">{{ _('Location')}}</a></li>
        <li class="nav-item"><a class="nav-link tab-button" href="#positions" data-bs-toggle="tab" role="tab">{{ _('Log')}}</a></li>
        <li class="nav-item"><a class="nav-link tab-button" id="map-tab-button" href="#tab_map" data-bs-toggle="tab" data-bs-target="#tab_map" role="tab">{{ _('Map')}}</a></li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="devices" role="tabpanel" aria-labelledby="general-tab">
            <btn class="btn btn-primary btn-sm" role="button" @click="fetchDevices()">
                <span v-if="loading == 'devices'" class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                <i v-else class="fas fa-rotate me-2"></i>
                {{ _('Refresh')}}
            </btn>
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>{{ _('Title')}}</th>
                            <th>ID</th>
                            <th>{{ _('Lat')}}</th>
                            <th>{{ _('Lon')}}</th>
                            <th>{{ _('Linked object')}}</th>
                            <th>{{ _('Updated')}}</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item,key) in devices" :key="'devices_'+key">
                            <td><b>[[ item.title ]]</b></td>
                            <td>[[ item.device_id ]]</td>
                            <td>[[ item.lat ]]</td>
                            <td>[[ item.lon ]]</td>
                            <td>
                                <img v-if="item.avatar" :src="item.avatar" class="me-3" style="border-radius: 50% 50%;" :title="item.user" height="30px">
                                [[ item.linked_object ]]
                                <span v-if="item.color" class="badge" :style="{ 'background-color': item.color || '#ccc' }">Color</span>
                            </td>
                            <td>[[ item.updated ]]</td>
                            <td>
                                <a class="btn btn-success ms-2 ms-auto btn-sm" @click="editDevice(item)" title="{{ _('Edit')}}"><i class="fas fa-pencil-alt"></i></a>
                                <a class="btn btn-danger ms-2 ms-auto btn-sm" @click="delDevice(item.id)" title="{{ _('Delete')}}"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="locations" role="tabpanel" aria-labelledby="general-tab">
            <btn class="btn btn-primary btn-sm" role="button" @click="fetchLocations()">
                <span v-if="loading == 'locations'" class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                <i v-else class="fas fa-rotate me-2"></i>
                {{ _('Refresh')}}
            </btn>
            <btn class="btn btn-success ms-2 btn-sm" @click="addLocation()" title="{{ _('Add')}}"><i class="fas fa-pencil-alt"></i>{{ _('Add')}}</btn>
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>{{ _('Title')}}</th>
                            <th>{{ _('Lat')}}</th>
                            <th>{{ _('Lon')}}</th>
                            <th>{{ _('Range')}}</th>
                            <th>{{ _('Is home')}}</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item,index) in locations" :key="'locations_'+index">
                            <td><b>[[ item.title ]]</b></td>
                            <td>[[ item.lat ]]</td>
                            <td>[[ item.lon ]]</td>
                            <td>[[ item.range ]]</td>
                            <td>[[ item.is_home ]]</td>
                            <td>
                                <a class="btn btn-success ms-2 ms-auto btn-sm" @click="editLocation(item)" title="{{ _('Edit')}}"><i class="fas fa-pencil-alt"></i></a>
                                <a class="btn btn-danger ms-2 ms-auto btn-sm" @click="delLocation(item.id)" title="{{ _('Delete')}}"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="positions" role="tabpanel" aria-labelledby="general-tab">
            <btn class="btn btn-primary btn-sm" role="button" @click="fetchPositions()">
                <span v-if="loading == 'positions'" class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                <i v-else class="fas fa-rotate me-2"></i>
                {{ _('Refresh')}}
            </btn>
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>{{ _('Device')}}</th>
                            <th>{{ _('Added')}}</th>
                            <th>{{ _('Lat')}}</th>
                            <th>{{ _('Lon')}}</th>
                            <th>{{ _('Alt')}}</th>
                            <th>{{ _('Accuracy')}}</th>
                            <th>{{ _('Speed')}}</th>
                            <th>{{ _('Battery')}}</th>
                            <th>{{ _('Provider')}}</th>
                            <th>{{ _('Location')}}</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item,index) in positions" :key="'pos_'+index">
                            <td v-if="item.device_id in devices_dict">[[ devices_dict[item.device_id] ]]</td>
                            <td v-else>[[item.device_id]]</td>
                            <td>[[ item.added ]]</td>
                            <td>[[ item.lat ]]</td>
                            <td>[[ item.lon ]]</td>
                            <td>[[ item.alt ]]</td>
                            <td>[[ item.accuracy ]]</td>
                            <td>[[ item.speed ]]</td>
                            <td>[[ item.battery ]]% <i v-if="item.charging" class="fas fa-bolt ms-2 text-danger"></i></td>
                            <td>[[ item.provider ]]</td>
                            <td>
                                <a v-if="item.address" :href="'https://static-maps.yandex.ru/1.x/?ll='+item.lon+','+item.lat+'&size=650,450&z=17&l=map&pt='+item.lon+','+item.lat+',pm2blm'" target="_blank">[[ item.address ]]</a>
                                <a v-else :href="'https://static-maps.yandex.ru/1.x/?ll='+item.lon+','+item.lat+'&size=650,450&z=17&l=map&pt='+item.lon+','+item.lat+',pm2blm'" target="_blank">{{ _('Unknown position')}}</a>
                            </td>
                            <td>
                                <a class="btn btn-danger ms-2 ms-auto btn-sm" @click="delPosition(item)" title="{{ _('Delete')}}"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="tab_map" role="tabpanel" aria-labelledby="general-tab">
            <div class="map-container">
                <l-map :zoom.sync="zoom" :center="center" :options="mapOptions"  :bounds="bounds"
                ref="map">
                    <l-tile-layer :url="provider.url"
                    :subdomains="provider.subdomains" :attribution="attribution"
                    :reuseTiles="reuseTiles" :updateWhenIdle="updateWhenIdle" 
                    layer-type="base"
                    name="OpenStreetMap">
                    </l-tile-layer>
                    <l-circle 
                        v-for="location in locations" 
                        :key="'loc_'+location.id" 
                        :lat-lng="[location.lat, location.lon]"
                        :radius="location.range" 
                        :name="location.title"
                        color="#1978cf"
                        fillColor="#1a7fc9"
                        :fillOpacity="0.2">
                        <l-tooltip :content="location.title" />
                    </l-circle>
                    <l-marker v-for="marker in devices" :key="'mu_'+marker.id" ref="markersRef" :lat-lng="[marker.lat, marker.lon]" :icon="customIcon(marker)">
                        <l-tooltip :options="{ permanent: false, direction: 'top' }">
                            <div class="marker-tooltip">
                            <img :src="marker.avatar" class="tooltip-avatar" v-if="marker.avatar">
                            <div class="tooltip-content">
                                <h5>[[ marker.title ]]</h5>
                                <small>[[ marker.updated ]]</small>
                            </div>
                            </div>
                        </l-tooltip>
                    </l-marker>
                </l-map>
            </div>
        </div>
    </div>

    <!-- Модальное окно -->
    <div class="modal fade" id="deviceModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ _('Device')}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div v-if="edit_device" class="modal-body">
                    <div>
                        <label class="form-label">{{ _('Title')}}</label>
                        <input class="form-control" v-model="edit_device.title">
                    </div>
                    <div>
                        <label class="form-check-label" for="flexCheckDefault">
                            {{ _('Linked object')}}
                        </label>
                        <select-with-filter placeholder="Select object" :options="objectOptions" v-model="edit_device.linked_object"></select-with-filter>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal" @click="updateDevice()">{{ _('Save')}}</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _('Close')}}</button>
                </div>
            </div>
        </div>
    </div>
<!-- Модальное окно -->
<div class="modal fade" id="locationModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ _('Device')}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div v-if="edit_location" class="modal-body">
                <div>
                    <label class="form-label">{{ _('Title')}}</label>
                    <input class="form-control" v-model="edit_location.title">
                </div>
                <div>
                    <label class="form-label">{{ _('Lat')}}</label>
                    <input class="form-control" v-model="edit_location.lat">
                </div>
                <div>
                    <label class="form-label">{{ _('Lon')}}</label>
                    <input class="form-control" v-model="edit_location.lon">
                </div>
                <div>
                    <label class="form-label">{{ _('Range')}}</label>
                    <input class="form-control" v-model="edit_location.range">
                </div>
                <div class="mt-2">
                    <label class="form-label">{{ _('Is home')}}</label>
                    <input type="checkbox" class="form-check-control" v-model="edit_location.is_home">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" @click="updateLocation()">{{ _('Save')}}</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _('Close')}}</button>
            </div>
        </div>
    </div>
</div>

</div>
<script src="{{ config.ASSETS_ROOT }}/js/components/select-with-filter.js"></script>


<script>
    var { LMap, LTileLayer, LMarker, LCircle, LTooltip, LPopup, LIcon } = Vue2Leaflet;
    new Vue({
        el: '#gps_tracker',
        delimiters: ['[[', ']]'], // Измененные разделители
        data: {
            zoom: 10,
            center: [47.41322, -1.219482],
            mapOptions: {
                zoomSnap: 0.5,
                zoomControl: true,
                attributionControl: false,
            },
            attribution: "",
            bounds: null,
            reuseTiles: true,
            updateWhenIdle: false,
            provider: { id: 1, title: "OpenStreetMap", url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", subdomains: ['a','b','c'] },
            loading: "",
            devices: [],
            devices_dict:{},
            locations: [],
            positions:[],
            message: '',
            edit_device: null,
            edit_location: null,
            objects:{}
        },
        components: { LMap, LTileLayer, LMarker, LCircle, LTooltip, LPopup, LIcon},
        async created() {
            await this.fetchObjects()
            await this.fetchDevices()
            await this.fetchLocations()
            await this.fetchPositions()
        },
        mounted(){
            // Обработчик для корректного отображения карты при переключении
            const mapTab = document.getElementById('map-tab-button');
            if (mapTab) {
            mapTab.addEventListener('shown.bs.tab', () => {
                this.initMap();
            });
            }
            
            // Инициализация карты при первой загрузке
            this.initMap();
        },
        computed:{
            objectOptions(){
                list = {}
                Object.keys(this.objects).forEach(key => {
                    list[key] = this.objects[key].description
                });
                return list
            }
        },
        
        methods: {
            initMap() {
                this.$nextTick(() => {
                    if (this.$refs.map && this.$refs.map.mapObject) {
                    setTimeout(() => {
                        this.$refs.map.mapObject.invalidateSize();
                        // Автоматическое масштабирование под локации
                        if (this.locations.length > 0) {
                            const bounds = new L.LatLngBounds();
                            this.locations.forEach(loc => {
                                bounds.extend([loc.lat, loc.lon]);
                            });
                            this.devices.forEach(loc => {
                                bounds.extend([loc.lat, loc.lon]);
                            });
                            console.log("Set bounds", bounds);
                            this.$refs.map.mapObject.fitBounds(bounds.pad(0.2));
                        }
                    }, 100);
                    }
                });
            },
            customIcon(marker) {
                const pinColor = marker.color || '#4a89dc'; // Цвет по умолчанию
                
                return L.divIcon({
                html: `
                    <div class="avatar-marker">
                    ${marker.avatar ? 
                        `<img src="${marker.avatar}" class="marker-avatar" style="border-color: ${pinColor}">` : 
                        `<div class="default-avatar" style="background-color: ${pinColor}">
                        <i class="fas fa-user"></i>
                        </div>`
                    }
                    <i class="fas fa-location-pin" style="
                        position: absolute;
                        left: 50%;
                        top: 28px;
                        transform: translateX(-50%);
                        color: ${pinColor};
                        font-size: 24px;
                        z-index: 1;
                        text-shadow: 0 0 3px white;
                    "></i>
                    </div>
                `,
                className: 'custom-marker',
                iconSize: [48, 56], // Увеличиваем высоту для иконки
                iconAnchor: [24, 56], // Якорь внизу иконки
                popupAnchor: [0, -56]
                });
            },
            fetchObjects(){
                axios.get(`/api/object/list/details`)
                    .then(response => {
                        this.objects = response.data.result
                        this.message = ''
                    })
                    .catch(error => {
                        console.log(error)
                        this.message = 'Error fetching: ' + error;
                    });
            },
            fetchDevices(){
                loading = "devices"
                axios.get(`/api/GpsTracker/devices`)
                    .then(response => {
                        devs = response.data.result
                        this.devices = devs
                        tmp = {}
                        devs.forEach(element => {
                            tmp[element.id] = element.title
                        });
                        this.devices_dict = tmp
                        loading = ""
                        this.message = ''
                        console.log(this.devices)
                    })
                    .catch(error => {
                        console.log(error)
                        this.message = 'Error fetching: ' + error;
                        loading = ""
                    });
            },
            fetchLocations(){
                loading = "locations"
                axios.get(`/api/GpsTracker/locations`)
                    .then(response => {
                        this.locations = response.data.result
                        loading = ""
                        this.message = ''
                        console.log(this.locations)
                    })
                    .catch(error => {
                        console.log(error)
                        this.message = 'Error fetching: ' + error;
                        loading = ""
                    });
            },
            fetchPositions(){
                loading = "positions"
                axios.get(`/api/GpsTracker/log?per_page=50&order_desc=true`)
                    .then(response => {
                        this.positions = response.data.result
                        loading = ""
                        this.message = ''
                    })
                    .catch(error => {
                        console.log(error)
                        this.message = 'Error fetching: ' + error;
                        loading = ""
                    });
            },
            delDevice(id) {
                axios.delete(`/api/GpsTracker/device/${id}`)
                    .then(response => {
                        console.log(response.data)
                        this.fetchDevices()
                        this.fetchPositions()
                        this.message = ''
                    })
                    .catch(error => {
                        console.log(error)
                        this.message = 'Error fetching device: ' + error;
                    });
            },
            editDevice(item){
                this.edit_device={...item}
                console.log(this.edit_device)
                $('#deviceModal').modal('show');
            },
            updateDevice(){
                var id = this.edit_device.id
                axios.post(`/api/GpsTracker/device/${id}`, this.edit_device)
                    .then(response => {
                        console.log(response.data)
                        this.fetchDevices()
                        this.edit_device=null
                        this.message = ''
                    })
                    .catch(error => {
                        console.log(error)
                        this.message = 'Error fetching device: ' + error;
                        this.edit_device=null
                    });
            },
            addLocation(){
                this.edit_location={}
                $('#locationModal').modal('show');
            },
            editLocation(item){
                this.edit_location={...item}
                $('#locationModal').modal('show');
            },
            delLocation(id) {
                axios.delete(`/api/GpsTracker/location/${id}`)
                    .then(response => {
                        console.log(response.data)
                        this.fetchLocations()
                        this.message = ''
                    })
                    .catch(error => {
                        console.log(error)
                        this.message = 'Error fetching device: ' + error;
                    });
            },
            updateLocation(){
                var url = `/api/GpsTracker/location`
                axios.post(url, this.edit_location)
                    .then(response => {
                        console.log(response.data)
                        this.fetchLocations()
                        this.edit_location=null
                        this.message = ''
                    })
                    .catch(error => {
                        console.log(error)
                        this.message = 'Error fetching device: ' + error;
                        this.edit_device=null
                    });
            },
            delPosition(item) {
                const index = this.positions.findIndex(n => n.id === item.id);
                if (index !== -1) {
                    this.positions.splice(index, 1);
                }
                axios.delete(`/api/GpsTracker/position/${item.id}`)
                    .then(response => {
                        console.log(response.data)
                        this.message = ''
                    })
                    .catch(error => {
                        console.log(error)
                        this.message = 'Error fetching device: ' + error;
                    });
            },
           
        }
    });
</script>

{% endblock %}