{% extends "layouts/module_admin.html" %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="GpsTracker">{{ _('GpsTracker')}}</a></li>
{% endblock %}
{% block module %}
{% set settings_provider = (form.address_provider.data if form and form.address_provider.data else 'disabled') %}

{% include "gpslogger_assets.html" %}
{% include "gpslogger_map_styles.html" %}
{% include "gpslogger_admin_styles.html" %}

<div id="gps_tracker" v-cloak>

    <div v-if="message" class="alert alert-warning mt-3">
        <p>[[ message ]]</p>
    </div>

    {% set active_tab = active_tab|default('devices') %}
    {% include "gpslogger_nav.html" %}

    <div class="tab-content" id="myTabContent">
        {% include "gpslogger_tab_devices.html" %}
        {% include "gpslogger_tab_locations.html" %}
        {% include "gpslogger_tab_positions.html" %}
        {% include "gpslogger_tab_history.html" %}
        {% include "gpslogger_tab_map.html" %}
        {% include "gpslogger_tab_settings.html" %}
    </div>

    {% include "gpslogger_modals.html" %}

</div>

<script src="{{ config.ASSETS_ROOT }}/js/components/select-with-filter.js"></script>
{% include "gpslogger_map_logic.html" %}
{% include "gpslogger_admin_app.html" %}
{% include "gpslogger_map_tab_init.html" %}

{% endblock %}
